body {
    background: #008080;
}

label {
    font-weight: 500;
}

input, button {
    border-radius: 0px !important;
    height: 50px !important;
}


/*[ Hover ]
-----------------------------------------------------------
*/
.hov-pointer:hover {cursor: pointer;}

/* ------------------------------------ */
.hov-img-zoom {
	display: block;
	overflow: hidden;
}
.hov-img-zoom img{
	width: 100%;
	-webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
}
.hov-img-zoom:hover img {
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
  	-ms-transform: scale(1.1);
  	-o-transform: scale(1.1);
	transform: scale(1.1);
}



.form-signin {
    max-width: 500px;
    background: #ffffff;
    margin: 100px auto;
    padding: 50px 35px;
}

.header {
    width: 100%;
    height: 60px;
    background: #808000;
    color: #fff;
}

.header h4 {
    margin-top: 13px;
}

.main {
    width: 100%;
    height: auto;
    padding: 40px 30px;
}

.list-group-item-action {
    background: #CD5C5C;
    color: #000000;
    border-radius: 0px !important;
    font-size: 15px;
}

.right-panel {
    background-color: #DAF7A6;
    padding: 20px 20px;
}

.form-search {
    padding: 20px 10px;
    margin: 0 auto;
}


button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: OpenSans-Regular;
  font-size: 15px;
  line-height: 1.4;
  color: #FFA07A;
}

.txt2 {
  font-family: OpenSans-Regular;
  font-size: 15px;
  line-height: 1.4;
  color: #FFA07A;
}

.hov1:hover {
  text-decoration: underline;
}


.form-search button, .form-search input {
    height: 40px !important;
}

button:hover {
	cursor: pointer;
}
.form-search button {
    width: 150px;
}

.form-upload-dsr {
    padding: 30px 20px;
}

.form-upload-dsr input {
    height: 35px !important;
}

.hov1:hover {
  text-decoration: underline;
}

.form-upload-dsr button[type="submit"] {
    width: 200px;
    height: 45px !important;
}

.footer {
    width: 100%;
    height: 50px;
    background: #808000;
    color: #000000;
    padding-top: 15px;
}
